aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
amqp==5.1.1
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
asgiref==3.5.2
astor==0.8.1
asttokens==2.4.1
async-timeout==4.0.2
attrs==23.1.0
autograd==1.5
autograd-gamma==0.5.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.3
billiard==3.6.4.0
bleach==4.0.0
boltons==23.0.0
brotlipy==0.7.0
cachetools==5.3.0
celery==5.2.7
certifi==2022.12.7
cffi==1.14.6
chardet==3.0.4
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
commonmark==0.9.1
contourpy==1.0.7
coverage==6.4.1
cryptography==39.0.1
cycler==0.11.0
datacache==1.1.5
dataclasses-json==0.6.7
debugpy==1.4.1
decorator==4.4.2
defusedxml==0.7.1
dill==0.3.6
Django==3.2.18
django-cors-headers==3.4.0
django-redis==4.11.0
django-rq-dashboard==0.3.3
djangorestframework==3.11.2
djangorestframework-camel-case==1.1.2
docopt==0.6.2
docutils==0.19
drugstone @ file:///Users/michi/Projects/drugstone/python-package
entrypoints==0.3
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.20.0
fisher==0.1.9
flake8==6.0.0
flake8-quotes==3.0.0
fonttools==4.39.3
formulaic==0.5.2
frozenlist==1.4.1
future==0.18.3
graphlib-backport==1.0.3
greenlet==3.0.3
gtfparse==1.2.1
gunicorn==20.1.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==2.10
image==1.5.33
importlib-metadata==4.12.0
importlib-resources==5.12.0
interface-meta==1.3.0
ipykernel==6.2.0
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
jenkspy==0.2.0
Jinja2==3.0.1
joblib==1.2.0
jsonpatch==1.33
jsonpickle==2.1.0
jsonpointer==2.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter_core==5.7.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keyring==23.6.0
kiwisolver==1.4.4
kombu==5.2.4
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-text-splitters==0.2.4
langsmith==0.1.117
lifelines==0.27.4
llvmlite==0.34.0
MarkupSafe==2.0.1
marshmallow==3.22.0
matplotlib==3.7.1
matplotlib-inline==0.1.2
matplotlib-venn==0.11.6
mccabe==0.7.0
memoized-property==1.0.3
mistune==3.0.2
mock==4.0.3
more-itertools==9.1.0
multidict==6.0.5
multiprocess==0.70.14
munkres==1.1.4
mypy-extensions==1.0.0
natsort==8.2.0
nbclient==0.5.4
nbconvert==7.16.4
nbformat==5.10.4
nedrex==0.1.4
nest-asyncio==1.5.1
networkx==3.1
notebook==6.4.3
numba==0.51.2
numpy==1.22.3
openpyxl==3.0.7
orjson==3.10.7
packaging==24.1
pandas==1.4.2
pandas-highcharts==0.5.2
pandocfilters==1.4.3
parso==0.8.2
patsy==0.5.2
pcst-fast==1.0.7
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pipreqs==0.5.0
pkginfo==1.8.3
platformdirs==3.2.0
pluggy==1.0.0
pooch==1.7.0
progressbar33==2.4
prometheus-client==0.11.0
prompt-toolkit==3.0.38
psycopg2-binary==2.8.6
ptyprocess==0.7.0
pure_eval==0.2.3
pybind11==2.9.2
pycairo==1.20.1
pycodestyle==2.10.0
pycosat==0.6.3
pycparser==2.20
pydantic==2.9.1
pydantic_core==2.23.3
pyensembl==2.0.0
pyflakes==3.0.1
Pygments==2.10.0
PyGObject==3.38.0
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyrsistent==0.18.0
pysam==0.18.0
PySocks @ file:///opt/concourse/worker/volumes/live/85a5b906-0e08-41d9-6f59-084cee4e9492/volume/pysocks_1594394636991/work
python-dateutil==2.8.1
python-louvain==0.15
pytz==2021.3
pyvis==0.2.0
PyYAML==6.0.2
pyzmq==22.2.1
qrcode==7.3.1
qtconsole==5.1.1
QtPy==1.9.0
random-survival-forest==0.8.1
readme-renderer==35.0
redis==4.3.6
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.4.4
rq==1.11.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==0.23.1
scikit-network==0.24.0
scipy==1.7.1
seaborn==0.12.0
Send2Trash==1.8.0
serializable==0.2.1
simplejson==3.17.6
six==1.15.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.34
sqlparse==0.4.2
stack-data==0.6.3
statsmodels==0.13.2
tenacity==8.5.0
terminado==0.11.0
testpath==0.5.0
threadpoolctl==3.1.0
tinycss2==1.3.0
tinytimer==0.0.0
toolz==0.12.0
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1610094711612/work
tqdm==4.65.0
traitlets==5.14.3
twine==4.0.1
typechecks==0.1.0
typing-inspect==0.9.0
typing_extensions==4.12.2
unicodedata2==15.0.0
UpSetPlot==0.6.0
urllib3==1.26.12
utils==0.0.0
vine==5.0.0
wcwidth==0.2.6
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.15.0
yarg==0.1.9
yarl==1.11.0
zipp==3.15.0
